$primary-color: #e3fdfd;
$secondary-color: #cbf1f5;
$tertiary-color: #a6e3e9;

$color-secondary-light: #ded3b5;
$color-secondary-dark: #b9927d;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f9f0f0;
$color-grey-dark: #999;
$color-grey-darker: #333;

$color-black: #000;
$color-white: #fff;

$blue: #62bedd;
$dark-blue: #468cd1;

$grid-width: 114rem;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;
$vertical-gutter-small: 6rem;

//fonts
$default-font-size: 1.6rem;
