.feature-box {
  font-size: 1.6rem;
  background-color: rgba(white, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;

  @include respond(phone) {
    font-size: 1rem;
    padding: 2rem;
    transform: scale(0.8);
  }
  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($blue, 0.8),
      rgba($dark-blue, 0.8)
    );
    color: transparent;
    -webkit-background-clip: text;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &:hover {
    transform: translateY(-1.5rem);
    box-shadow: 0 3.5rem 4rem rgba(0, 0, 0, 0.6);
  }

  &__text {
    font-size: 1.6rem;
  }
}
