.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -8rem;
  padding: 20rem 0;
  background-color: $color-grey-light-1;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color, 0.8),
      rgba($tertiary-color, 0.8)
    ),
    url(../img/me2.jpg);
  height: 95vh;
  background-size: cover;
  transform: skewY(-7deg);

  @include respond(phone) {
    height: 200vh;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 5rem 0;
  margin-top: -13vh;
}

.section-stories {
  padding: 15rem 0;
  margin-top: 5vh;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  margin-top: 5vh;
  background-color: $color-grey-light-1;
  background-image: linear-gradient(
    to bottom right,
    rgba($color-grey-light-1, 0.2),
    rgba($dark-blue, 0.5)
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.85) 50%,
      rgba(transparent, 0) 50%
    ),
    url(../../img/edited-image.jpg);
  height: 50rem;
  background-size: cover;
  background-position: 10% 50%;

  &__form {
    padding: 6rem;
    width: 50%;
  }
}
